asgiref==3.8.1
colorama==0.4.6
distutils-pytest==0.2.1
Django==5.0.6
django-appconf==1.0.6
django-imagekit==5.0.0
iniconfig==2.0.0
packaging==24.0
pilkit==3.0
pillow==10.3.0
pluggy==1.5.0
pytest==8.2.0
pytz==2021.1
setuptools==69.5.1
sqlparse==0.4.1
tzdata==2024.1
