{% load static %}

<!-- Блок с карточкой займет всю ширину родительского контейнера на мобильном, 
  половину на планшете и 1/4 на компьютере --> 
<!-- py-3: сделан внутренний отступ, что бы карточки не слипались -->
<div class="col-12 col-md-6 col-xl-3 p-3">
  <!-- h-100:  делает карточки одинаковой высоты -->
  <div class="card h-100">
    <!-- card-img-top: изображение размещается вверху карточки -->
    <!--img-fluid: размер изображения подстроится под занимаемый блок -->
    {% for image in ice_cream.images.all %}
    {{image.image.url}}
    <img class="card-img-top img-fluid" src="{% if ice_cream.get_first_image %}{{image.image.url}}{% else %}{% static 'img/tmb.png' %}{% endif %}" alt="">
    {% endfor %}

    <!-- card-body: текстовый контент карточки -->
    <div class="card-body">
      <p class="fs-3">{{ ice_cream.name }}</p>
      <p class="fs-4">{{ ice_cream.price }} UAH</p>
      <p class="fs-5">{{ ice_cream.quantity }} шт.</p>
    </div>
    <!-- btn: показывает что это кнопка  -->
    <!-- btn-success: определяет цвет кнопки --> 
    <a href="{% url 'ice_cream:ice_cream_detail' ice_cream.pk %}" class="btn btn-success">
      Подробная информация
    </a> 
  </div> <!-- Конец карточки -->
 </div> <!-- Конец блока определяющего размер элемента -->